# Database
DATABASE_URL="sqlserver://localhost:1433;database=insurance_whatsapp_bot;user=sa;password=StrongP@ssw0rd2024!;trustServerCertificate=true"

# WATI API
WATI_API_URL="https://live-mt-server.wati.io/200057/api/v1"
WATI_API_TOKEN="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI3OTI2M2I3My0zY2EzLTQxMjItYTEwYS1lOTc3MDA4M2RlMTUiLCJ1bmlxdWVfbmFtZSI6ImFkbWluaXN0cmF0b3JAZmlqaWNhcmUuY29tLmZqIiwibmFtZWlkIjoiYWRtaW5pc3RyYXRvckBmaWppY2FyZS5jb20uZmoiLCJlbWFpbCI6ImFkbWluaXN0cmF0b3JAZmlqaWNhcmUuY29tLmZqIiwiYXV0aF90aW1lIjoiMDMvMjYvMjAyNSAwNjoxMToyMiIsInRlbmFudF9pZCI6IjIwMDA1NyIsImRiX25hbWUiOiJtdC1wcm9kLVRlbmFudHMiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJBRE1JTklTVFJBVE9SIiwiZXhwIjoyNTM0MDIzMDA4MDAsImlzcyI6IkNsYXJlX0FJIiwiYXVkIjoiQ2xhcmVfQUkifQ.y3fToRbBlw4siAZTYZ65oDRJfg7KyjxqNX2BgC-ddas"
WATI_WELCOME_TEMPLATE="new_chat_v1"
WATI_POLICY_SUMMARY_TEMPLATE="policy_summary"
WATI_DEFAULT_BROADCAST_NAME="customer_support"

# PayPal
PAYPAL_CLIENT_ID="AYcq0DUXYHHpYQhWCjfLwDp8uk4SsiS2sDG2U54hFZAwljRAhK8v17F5n_hXnTjLebt_C1vw3-1bCZGG"
PAYPAL_CLIENT_SECRET="EB6rN63I-L_cp-YvvNEVqrjE15E07vP87woul8j2YOVD_pcUkWpEi7kg9Pi1ttH72LjN0IUH9-UVNkkI"
PAYPAL_MODE="sandbox"

# App
PORT=3000
HOST="localhost"
APP_HOST="http://localhost:3000"